<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Fő oldal</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body background= "../../Images/hatterkep_1366x768_0200.jpg">
        <header>
            <div class="content-wrapper">
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: xx-large; 
                    font-style: normal; font-weight: bold; color: #99FF66"><b>Cég adatbázis</b></p>                
            </div>
            <div>
            <nav>
                  <ul id="menu">
                  <li>@Html.ActionLink("Adatok", "Index", "ListaModel")</li>
                  <li>|</li>                   
                  <li>@Html.ActionLink("Kapcsolat", "Index", "Contact")</li>                                                           
                  </ul>
            </nav>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="footer_box">
                <div>
                    <h3>Készítette: Sápi Sándor - 2015</h3>                                   
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
